# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and temporary data
*.log
*.tmp

# Model weights (optional)
*.pt
*.bin

# System files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
